#gallery {
	display: flex;
	list-style: none;
	align-items: center;
}

img {
	width: 300px;
}

#gallery li:not(:last-child) {
	margin-right: 20px;
}

#counter {
	margin-top: 30px;
	margin-bottom: 30px;
}

#validation-input {
	border: 3px solid #bdbdbd;
}

#validation-input.valid {
	border-color: #4caf50;
}

#validation-input.invalid {
	border-color: #f44336;
}

#font-size-control {
	display: block;
	margin-top: 30px;
}
